/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Raleway", sans-serif;
}

.site-section {
  padding: 7rem 0;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: .2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

