.gallery {
    position: absolute;
    top: 20%;
    left: 10%;
    margin-bottom: 10%;
}

.row-g {
    margin-top: 2%;
    margin-bottom: 2%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
    }

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}
