body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.gallery {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.dummy {
    margin-top:100%;
}

.thumbnail {
    position: relative;
    width: 370px;
    height: 370px;
    overflow: hidden;
    margin: 0px 10px 0px 10px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.col {
    overflow:hidden;
    margin: 5px;
}

.limg {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.portrait {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.col:hover img{
  opacity: 0.4;
  transition: .5s ease;
}

/*
.col.thumbnail:hover .txt{
    visibility: visible;
}

.txt {
  visibility: hidden;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

.container .pics {
    -webkit-transition: all 350ms ease;
transition: all 350ms ease;
}

.container .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
    }

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}
